<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <%- include("partials/nav") %>
    <h1>Home</h1>
    <form id="myForm">
      <input type="text" name="item" />
      <button class="waves-effect waves-light btn" type="submit">Add</button>
    </form>
    <ul>
      <% wish.map(item=>{ %>
      <li onclick="deleteme(this)"><%= item.wish %></li>

      <% }) %>
    </ul>
    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
